#center{
    text-align: center;
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 0px 1px 0px rgb(0, 0, 0);
}

body{
    font-weight: 150;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.spacer{
    padding: 100px;
    background-color: #0d0f11;
}

.deg{
    cursor: pointer;
}

.deg a h2{
    color: whitesmoke;
}

.deg a h5{
    color: whitesmoke;
    font-weight: 100;
}

.cont{
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px 25px;
    transition: 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0px 10px 40px #00000012;
    color: #000;
    border: 3px solid #521c7e;
    transition: all 0.3s ease 0s;
    background-color: #1d1e22;
}

.cont:hover{
    transform: translateY(-10px);
    
}


.in{
    width: 85%  85% !important;
}

.deg{
    padding-right: 15%;
    padding-left: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    position: relative;
    width: 100%;
}

img{
    width: 100px;
}

@media screen and (max-width: 800px){
    .deg {
        grid-template-columns: repeat(1, 1fr);
        padding: 100px;
    }
}