.Button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #1d2227;
    text-align: center;
    float: right;
    cursor: pointer;
}

.Button p {
    margin: 0;
    font-family:'Fira Code';
    margin-top: 11px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    user-select: none;
    cursor: pointer;
}

.inners {
    display: flex;
    font-family:'Fira Code';
    font-weight: 500;
    font-size: 14px;
    background-color: #292525;
    padding-right: 35px;
    padding-top: 11px;
    padding-bottom: 12px;
    border-top-left-radius: 20px;
    position: absolute;
    right: 25px;
    border-bottom-left-radius: 20px;
    z-index: -1;
    display: flex;
    transition: all 1s ease-in-out 0s;
}

.fixed {
    position: fixed;
}

.hidden {
    display: none;
}

.inners a {
    opacity: 1;
    padding-left: 20px;
    color: white;
    float: inline-end;
    transition: all 0.5s ease-in-out 0s;
}

.inners a:hover {
    color: #3a75ff;
}
