<head>
    <title>Programmer's Den | Apply for Staff</title>
</head>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeaAx2kRruwJCaD56JSmrNyb0b6lBmitX8cYXiBOX_kkXuSCQ/viewform"
    style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    Sorry, but your browser does not support iframes, which are needed to embed the form; please switch to a modern one
    or update your browser to the latest version.
</iframe>
<!--Shows an error if iFrames are not supported; embeds google form with custom css if supported.-->
