/*-----------------------------------------------------------------------------------

    Template Name:
    Template URI:
    Description: This is html5 template
    Author: Kaji Hasibur Rahman
    Author URI:
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================



-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800|Open+Sans:300i,400,400i,600,700,800');
*{
	margin:0;
	padding:0;
}
body {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	line-height:26px;
	background:#fff;
  font-weight: 400;
}
.floatleft {float:left}
.floatright {float:right}
img {
	max-width:100%;
	height:auto
}
.fix {overflow:hidden}
p {
	margin:0px;
	color: #fff;
}

.spacer{
  padding: 100px;
  background-color: #0d0f11;
}

h1, h2, h3, h4, h5, h6 {
	color: #3a75ff;
	margin-bottom: 10px;
	margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
}
input:focus,select:focus{
	outline:none;
}
input, button{
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
}
a {
	-webkit-transition:all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
	text-decoration:none;
	color:#fff;
	font-size:14px;
}
a:hover{
	color:#3a75ff;
}
a:active, a:hover, a:focus {
	outline: none;
	text-decoration:none;
}
button:focus{
	outline:none;
}
ul{
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
:before,:after{
  -webkit-transition: all .3s;
  transition: all .3s;
}
.bg-1{background:#0d0f11;}
.bg-2{background:#131619;}

.ptb-130{padding: 130px 0px}
.ptb-100{padding: 100px 0px}
.pt-130{padding-top: 130px}
.pt-100{padding-top: 100px}
.pb-130{padding-bottom: 130px}

.mb-30{margin-bottom: 30px;}

.bg-img-1{background: url(../images/bg/1.jpg)no-repeat center center / cover}
.bg-img-2{background: url(../images/bg/2.jpg)no-repeat center center / cover}
.bg-img-3{background: url(../images/bg/3.jpg)no-repeat center center / cover}
.bg-img-4{background: url(../images/bg/4.jpg)no-repeat center center / cover}
.bg-img-5{background: url(../images/bg/6.jpg)no-repeat center center / cover}

.black-opacity{
  position: relative;
  z-index: 9;
}
.black-opacity:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  z-index: -9;
  opacity: .8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
/*---------header-area start---------*/
.header-area{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
}
.header-bottom {
  border-bottom: 1px solid #3a75ff;
}
.logo{
  padding: 20px 0px;
}
.mainmenu ul li{
  position: relative;
  display: inline-block;
  margin-left: 25px;
}
.mainmenu ul li:first-child{
  margin-left: 0px;
}
.mainmenu ul li a {
    color: #fff;
    padding: 26px 0px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}
.mainmenu ul li.active > a,.mainmenu ul li:hover > a{
  color: #3a75ff  ;
}
.mainmenu ul li > ul {
  position: absolute;
  left: 0;
  top: 120%;
  background: #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,.1);
  width: 150px;
  text-align: left;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  border-top: 2px solid #3a75ff;
}
.mainmenu ul li:hover > ul{
  visibility: visible;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  top: 100%;
}
.mainmenu ul li > ul li{
  display: block;
  margin: 0px;
}
.mainmenu ul li > ul li a{
  text-transform: capitalize;
  color: #222;
  padding: 5px 0px;
}
.mainmenu ul li > ul li:hover a{
  padding-left: 10px;
  color: #3a75ff;
}
.search-wrap ul li{
  display: inline-block;
  margin-left:20px;
  position: relative;
  padding: 21px 0px;
}
.search-wrap ul li:first-child{
  margin-left: 0px;
}
.search-wrap ul li a{
  position: relative;
  font-size: 18px;
}
.search-wrap ul li a span{
  position: absolute;
  right: -8px;
  top: -2px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  background: #3a75ff;
  display: block;
  font-weight: 700;
  text-align: center;
}
.search-wrap ul li > ul {
  position: absolute;
  right: 0;
  top: 100%;
  padding: 20px ;
  background: #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,.1);
    transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  border-top: 3px solid #3a75ff;
  visibility: hidden;
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 300px;
}
.search-wrap ul li:hover > ul{
  visibility: visible;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.search-wrap ul li > ul li{
  display: block;
  margin:0;
  padding: 0px;
}
.search-wrap ul li > ul li form{
  position: relative;
}
.search-wrap ul li > ul li input{
  widows: 300px;
  height: 45px;
  border: 1px solid #e1e1e1;
  padding: 0px 45px 0px 20px;
  color: #222;
  font-style: italic;
}
.search-wrap ul li > ul li button{
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  background: #3a75ff;
  color: #fff;
  font-size: 16px;
  border: none;
}
.search-wrap ul li > ul li button:hover{
  background: #222;
}
.header-area.sticky{
  background: #0d0f11;
  box-shadow: 0px 1px 3px rgba(0,0,0,.2);
  transition: all 0.5s ease 0s;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header-area.sticky .header-bottom {
  border-bottom: none;
}
/*---------header-area start---------*/
/*---------------------------- responsiv-area start --------------------------*/
.responsive-menu-wrap{
  position:relative;
}
.responsive-menu-wrap .slicknav_btn {
    background-color: transparent;
    border-radius: 0;
    display: block;
    float: right;
    margin: 0px 0;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    vertical-align: middle;
    height: 35px;
    width: 35px;
}
.slicknav_menu .slicknav_icon {
  margin: 2px 12px;
}
.responsive-menu-wrap .slicknav_menu .slicknav_menutxt {
  display: none;
}
.responsive-menu-wrap .slicknav_menu {
    background: transparent none repeat scroll 0 0;
    font-size: 15px;
    padding: 21px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.responsive-menu-wrap .slicknav_menu .slicknav_icon-bar {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  display: block;
  height: 2px;
  width: 25px;
  background: #fff;
}
.responsive-menu-wrap .slicknav_nav {
    background: #3a75ff none repeat scroll 0 0;
    border-radius: 0px;
    clear: both;
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 5px 0;
    position: relative;
    top: 22px;
    width: 720px;
    right: 0px;
    z-index: 9999999;
    position: relative;
}
.slicknav_nav a {
  color: #f1f1f1;
  text-decoration: none;
  text-transform: capitalize;
}
.slicknav_nav a i{display:none}
.slicknav_nav a:hover {
  background: transparent none repeat scroll 0 0;
  border-radius: 0;
  text-shadow:0px 3px 5px rgba(0,0,0,.5);
  color:#fff;
}
.responsive-menu-wrap .slicknav_nav .slicknav_row:hover {
  background: transparent;
}
.responsive-menu-wrap .slicknav_nav .slicknav_arrow {
  font-size: 10px;
  margin: 5px;
}
.responsive-menu-wrap .slicknav_open .slicknav_icon span:first-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  position: relative;
  top: 5px;
}
.responsive-menu-wrap .slicknav_open .slicknav_icon span:last-child{
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
}
.responsive-menu-wrap .slicknav_open .slicknav_icon span:nth-child(2){display:none}
/*---------------------------- responsiv-area end --------------------------*/
/*---------slider-area start---------*/
.slider-items {
  position: relative;
  z-index: 9;
}
.slider-items:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  content: "";
  height: 100%;
  opacity: .7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.slider-items img{
  visibility: hidden;
}
.single-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 80px;
}
.single-slider h2{
  font-size: 62px;
  line-height: 62px;
  margin-bottom: 25px;
  font-weight: 600;
}
.single-slider p{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
  padding-right: 50px;
}
.single-slider2.single-slider p{
  padding: 0px 0px 0px 50px;
}
.single-slider a{
  display: inline-block;
  padding:10px 30px;
  background: #3a75ff;
  color: #fff;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
}
.single-slider a:hover{
  background: #fff;
  color: #3a75ff;
}
.slider-active .owl-dots{
  position: absolute;
  left: 0;
  bottom: 20px;
  right: 0;
  text-align: center;
  width: 100%;
}
.slider-active .owl-dot {
  height: 12px;
  width: 4px;
  background: #fff;
  display: inline-block;
  margin:0px 2px;
  border-radius: 50%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.slider-active .owl-dot.active{
  background: #3a75ff;
  height: 17px;
}
/*---------slider-area end---------*/
/*---------about-area start---------*/
.section-title{
  margin-bottom: 45px;
}
.section-title h2{
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-title p{
  font-style: italic;
  font-size: 16px;
}
.about-wrap {
  padding: 75px 0px;
}
.about-wrap h3{
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 25px;
}
.about-wrap p{
  margin-bottom: 20px;
}
.about-wrap a{
  display: inline-block;
  padding:10px 30px;
  background: #fff;
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 3px;
}
.about-wrap a:hover{
  background: #3a75ff;
  color: #fff;
}
.about-img img{
  visibility: hidden;
}
/*---------about-area end---------*/

/*---------wedo-area start---------*/
.wedo-wrap {
  overflow: hidden;
  background: #0d0f11;
}
.wedo-icon {
  background: #191b1e;
  float: left;
  margin-right: 10px;
  padding: 30px;
}
.wedo-icon span {
  display: block;
  padding-top: 15px;
}
.wedo-icon span:before{
  font-size: 50px;
  color: #3a75ff;
}
.wedo-info {
    overflow: hidden;
    padding: 17px 0px;
}
.wedo-info h3{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.wedo-img {
    padding: 33px 0;
}
/*---------wedo-area end---------*/

/*---------project-area start---------*/
.project-area{
  padding: 130px 0px 100px;
}
.project-menu{
  text-align: center;
  margin-bottom: 45px;
}
.project-menu button{
  padding: 8px 20px;
  background: #fff;
  color: #222;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  margin:0px 2px;
}
.project-menu button.active{
  background: #3a75ff;
}
.project-wrap{
  position: relative;
  margin-bottom: 30px;
  z-index: 9;
}
.project-wrap:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  z-index: 9;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}
.project-wrap:hover:before{
  opacity: .5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.project-wrap img{
  width: 100%;
}
.project-wrap a{
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%,-50%) rotate(45deg);
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  -moz-transform: translate(-50%,-50%) rotate(45deg);
  background: #3a75ff;
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 99;
}
.project-wrap:hover a{
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.project-wrap a:hover{
  background: #fff;
  color: #222;
}
.project-wrap a i{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
/*---------project-area end---------*/
/*---------team-area start---------*/
.team-area{
  padding: 130px 0px 100px;
}
.team-wrap{
  margin-bottom: 30px;
}
.team-img{
  position: relative;
}
.team-img img{
  width: 100%;
}
.team-img:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 9;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}
.team-wrap:hover .team-img:before{
  opacity: .5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.team-icon{
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 125px;
  z-index: 9;
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
    transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
}
.team-wrap:hover .team-icon{
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
}
.team-icon ul{
  text-align: center;
  margin-bottom: 5px;
}
.team-icon ul li{
  display: inline-block;
  margin: 0px 3px;
}
.team-icon ul li a{
  display: block;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  color: #fff;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.team-icon ul li a:hover{
  background: #3a75ff;
  border-color: #3a75ff;
}
.team-content{
  background: #0d0f11;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  text-align: center;
  padding: 25px 0px;
}
.team-content h3{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
}
.team-content p{
  font-size:13px;
  font-style: italic;
}
/*---------team-area end---------*/

/*---------pricing-area start---------*/
.pricing-area{
  padding: 130px 0px 100px;
}
.pricing-wrap{
  margin-bottom: 30px;
  background: #131619;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 40px;
}
.pricing-content{
  padding: 30px 0px 50px 0px;
  position: relative;
  margin-bottom: 50px;
  z-index: 9;
}
.pricing-content:before {
    position: absolute;
    left: 0;
    top: -225px;
    width: 103%;
    z-index: -9;
    height: 185%;
    background: #fff;
    content: "";
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    border-radius: 25px;
}
.pricing-wrap.active .pricing-content:before{
  background: #3a75ff;
} 
.pricing-content h2{
  font-weight: 700;
  font-size: 34px;
  color: #131619;
  margin-bottom: 20px;
}
.pricing-wrap.active .pricing-content h2{
  color: #fff;
}
.pricing-content h3{
  font-size: 62px;
  line-height: 62px;
  color: #131619;
  font-weight: 700;
}
.pricing-wrap.active .pricing-content h3{
  color: #fff;
}
.pricing-wrap ul li{
  line-height: 40px;

}
.pricing-wrap button{
  padding:8px 20px;
  text-transform: uppercase;
  font-size: 12px;
  color: #222;
  background: #fff;
  border-radius: 3px;
  font-weight: 700;
  margin-top: 30px;
  border: none;
}
.pricing-wrap.active  button{
  background: #3a75ff;
  color: #fff;
}
.pricing-wrap button:hover{
  background: #3a75ff;
  color: #fff;
}
.pricing-wrap.active button:hover{
  background: #fff;
  color: #222;
}
/*---------pricing-area end---------*/
/*---------booknow-area start---------*/
.booknow-wrap{
  padding: 120px 0px;
}
.booknow-wrap p{
  margin-bottom: 5px;
  font-style: italic;
}
.booknow-wrap input,.booknow-wrap select{
  margin-bottom: 25px;
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 3px;
  border: 1px solid #fff;
  padding-left: 15px;
  font-size: 12px;
}
.booknow-wrap select option{
  color: #222;
}
.booknow-wrap input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color:#fff;
}
.booknow-wrap input::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color:#fff;
}
.booknow-wrap input:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color:#fff;
}
.booknow-wrap input:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color:#fff;
}
.booknow-wrap button{
  padding: 8px 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background: #3a75ff;
  border-radius: 3px;
  border: none;
}
.booknow-wrap button:hover{
  background: #fff;
  color: #222;
}
/*---------booknow-area end---------*/

/*---------blog-area start---------*/
.blog-area{
  padding: 130px 0px 100px;
}
.blog-wrap{
  margin-bottom: 30px;
  background: #131619;
}
.blog-img img{
  width: 100%;
}
.blog-content{
  overflow: hidden;
  padding: 10px 20px 30px;
}
.blog-content ul {
  margin-bottom: 10px;
}
.blog-content ul li{
  display: inline-block;
  margin-right: 10px;
}
.blog-content ul li:last-child{
  margin-right: 0px;
}
.blog-content ul li a{
  display: block;
  color: #ccc;
  font-size: 12px;
}
.blog-content h3{
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.blog-content  p{
  margin-bottom: 15px;
}
.blog-content a{
  display: inline-block;
  float: right;
  color: #fff;
}
.blog-content a:hover{
  color: #3a75ff;
}
/*---------blog-area end---------*/
/*---------footer-area start---------*/
.footer-top{
  padding: 100px 0px 70px;
}
.footer-widget {
  margin-bottom: 30px;
}
.footer-widget h2{
  padding-bottom: 10px;
  margin-bottom: 25px;
  position: relative;
  font-size: 24px;
  font-weight: 700;
}
.footer-widget h2:before{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #fff;
  content: "";
}
.footer-widget p{
  margin-bottom: 20px;
}
.footer-content ul li{
  display: block;
  margin-bottom: 5px;
  line-height: 30px;
  padding-left: 30px;
  position: relative;
}
.footer-content ul li i{
  position: absolute;
  left: 0;
  color: #3a75ff;
  font-size: 18px;
  top: 7px;
}
.footer-time ul li span.color{
  color: #3a75ff;
}
.footer-menu ul li a{
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}
.footer-menu ul li a:before{
  position: absolute;
  left: 0;
  top: 0;
  content: "\f061";
  color: #fff;
  font-size: 12px;
  font-family: fontawesome;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}
.footer-menu ul li a:hover:before{
  padding-left: 5px;
}
.instragram ul{
  overflow: hidden;
}
.instragram ul li{
  float: left;
  margin:3px 3px;
  width: 23%;
}
.instragram ul li a{
  display: block;
  position: relative;
}
.instragram ul li a:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}
.instragram ul li a img{
  width: 100%;
}
.instragram ul li a:hover:before{
  opacity: .5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.footer-bottom-area{
  padding: 20px 0px;
  background: #3a75ff;
}

.copyright p a{
  font-weight: 600;
  color: #222;
}
.socil-media-icon {
  text-align: right;
}
.socil-media-icon ul li{
  display: inline-block;
}
.socil-media-icon ul li a{
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
}
.socil-media-icon ul li a:hover{
  background: #fff;
  color: #222;
}
a#scrollUp {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
a#scrollUp:hover{
  color: #222;
}
a#scrollUp i:before{
  font-size: 40px;
}
/*---------footer-area end---------*/


/*=======================================
      home page two style here
=======================================
*/
.about-area2 .about-wrap{
  padding: 0px;
}
.wedo-area2{
  padding: 130px 0px 100px;
}
.wedo-area2 .wedo-wrap {
    text-align: center;
    padding: 40px 40px 30px;
    margin-bottom: 30px;
}
.wedo-area2 .wedo-icon {
    background: #191b1e;
    float: none;
    margin-right: 0;
    height: 110px;
    padding: 30px;
    width: 110px;
    margin:0px  auto 10px;
    border-radius: 50%;
}

/*-----------fanfact-area start-----------*/
.fanfact-area{
  padding: 120px 0px;
}
.fanfact-wrap{
  overflow: hidden;
  padding: 0px 40px;
}
.fanfact-content{
  float: left;
  margin-right: 20px;
}
.fanfact-content h2{
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.fanfact-content h3{
  font-size: 67px;
  color: #fff;
  margin-bottom: 0px;
  font-weight: 700;
  width: 170px;
}
.fanfact-icon{
  overflow: hidden;
}
.fanfact-icon i{
  font-size: 100px;
  color: #3a75ff;
}
/*-----------fanfact-area end-----------*/
.banner-area{
  height: 750px;
}
/*--------------------tetsmonial-area start--------------------*/
.test-active{
  padding-bottom: 70px;
}
.test-img{
  height: 180px;
  width: 180px;
  overflow: hidden;
  margin:0px auto 30px;
  border-radius: 50%;
}
.test-items h2{
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}
.test-items p{
  font-size: 16px;
  padding: 0px 10px;
}
.test-active .owl-dots{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.test-active .owl-dot{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 3px;
  background: #fff;
}
.test-active .owl-dot.active{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  background: #3a75ff;
}
/*--------------------tetsmonial-area end--------------------*/

/*===========================================
      home page three style here
===========================================
*/
.about-area3 .about-wrap{
  padding: 0px;
}
.faq-wrap {
    margin-top: 30px;
}
.faq-wrap .panel-default > .panel-heading {
  background-color: transparent;
  border-color: #e1e1e1;
  padding:0px;
  font-weight: 700;
}
.about-wrap .faq-wrap .panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
  padding: 12px 20px;
}
.faq-wrap  .panel-body p {
  margin-bottom:0px;
  color: #fff;
}
.faq-wrap .panel-body {
    padding: 20px 20px;
	background: #131619;
}
.faq-wrap .panel-default a {
  display: block;
  position: relative;
  background:#3a75ff;
  color:#fff;
  overflow:hidden;
  font-size:14px;
  margin-top: 0px;
}
.faq-wrap .panel-default a:before{
    position: absolute;
    right: -15px;
    top: 0;
    width: 57px;
    height: 100%;
    background: #3a75ff;
    content: "";
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
}
.faq-wrap .panel-default a.collapsed{
  background: #131619;
}
.faq-wrap .panel-default a:after {
  content: "";
  font-family: fontawesome;
  font-size: 16px;
  position: absolute;
  right: 0;
  background: #3a75ff;
  height: 100%;
  top: 0;
  width: 35px;
  color: #fff;
  text-align: center;
  line-height: 38px;
  border:1px solid #3a75ff;
}
.faq-wrap .panel {
    margin-bottom: 10px;
    background-color: #fff;
    border:none;
    border-radius: 4px;
    box-shadow:none;
    -moz-box-shadow:none;
    color: #222;
}
.faq-wrap .panel-default a.collapsed:after{
  content:"\f107";
}

.wedo-area3 .wedo-wrap{
  padding: 0px;
  background: transparent;
}
.wedo-area3 .wedo-info{
  padding-bottom: 0px;
}
.wedo-area3{
  padding-bottom: 0px;
}
.wedo-area3 .wedo-img{
  padding:0px;
}
/*-------------------quote-area start-------------------*/
.quote-area{
  padding: 125px 0px;
}
.quote-wrap p{
  text-align: center;
  font-size: 16px;
  padding: 0px 10px;
}
.quote-wrap p span{
  color: #3a75ff;
}
/*-------------------quote-area end-------------------*/

/*-------------------shop-area start-------------------*/
.shop-area{
  padding: 130px 0px 100px;
}
.shop-wrap{
  background: #131619;
  text-align: center;
  margin-bottom: 30px;
}
.shop-img{
  position: relative;
  padding: 30px 0px;
  overflow: hidden;
}
.shop-img ul{
  position: absolute;
  right: 0;
  height: 100%;
  background: #3a75ff;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform-origin: right;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  visibility: hidden;
  opacity: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.shop-wrap:hover .shop-img ul{
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  visibility: visible;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.shop-img ul li{
  margin-bottom: 20px;
}
.shop-img ul li a{
  font-size: 25px;
}
.shop-img ul li a:hover{
  color: #222;
}
.shop-content{
  background: #222;
  padding: 30px 0px;
}
.shop-content h3{
  font-size: 20px;
  color: #fff;
  margin-bottom: 0px;
}

/*-------------------shop-area end-------------------*/

/*-------------------discount-area start-------------------*/
.discount-area{
  padding: 100px 0px;
}
.discount-area.black-opacity:before{
  opacity: .9;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.discount-wrap h2{
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.discount-wrap p{
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
}
.discount-wrap a{
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  background: #fff;
  color: #222;
  font-weight: 600;
  border-radius: 3px;
}
.discount-wrap a:hover{
  background: #3a75ff;
  color: #fff;
}
/*-------------------discount-area start-------------------*/

/*-------------------breadcumb-area start-------------------*/
.breadcumb-area{
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.breadcumb-wrap{
  padding-top: 70px;
}
.breadcumb-wrap h2{
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.breadcumb-wrap ul li{
  display: inline-block;
  margin: 0px 2px;
  font-size: 16px;
  font-weight: 600;
}
.breadcumb-wrap ul li.active{
  color: #3a75ff;
}
/*-------------------breadcumb-area end-------------------*/
.about-area3 .about-img {
    height: 636px !important;
}

/*=============================================
            service-page start
=============================================
*/
.service-page-wrap h3{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.service-page-wrap p{
  margin-bottom: 20px;
}

/*--------work-area start--------*/
.work-area{
  padding: 100px 0px 70px;
}
.work-wrap {
  margin-bottom: 30px;
  text-align: center;
}
.work-wrap i{
  height: 100px;
  width: 100px;
  background: #131619;
  border-radius: 50%;
  line-height: 100px;
  font-size: 30px;
  color: #3a75ff;
  margin-bottom: 25px;
}
.work-wrap h3{
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0px;
}
/*--------work-area end--------*/

/*--------working-time-area start--------*/
.working-time-wrap {
    padding: 115px 0;
}
.working-time-wrap h2{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.working-time-wrap ul{
  overflow: hidden;
}
.working-time-wrap ul li{
  margin-bottom: 5px;
  position: relative;
}
.working-time-wrap ul li:before{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  content: "";
  border-bottom: 1px dashed #fff;
  width: 100px;
}
.working-time-wrap ul li.weekend{
  color: #3a75ff;
}
.working-time-wrap ul li.weekend:before{
  border-bottom: 1px dashed #3a75ff; 
}
/*--------working-time-area end--------*/
.wedo-area.bg-2.wedo-area2.wedo-area3.pt-100 {
    padding-top: 100px;
}

/*-------------------------single-team-area start-------------------------*/
.single-team-img img{
  visibility: hidden;
}
.single-team-wrap h3{
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 0px;
}
.single-team-wrap span.single-team{
  display: block;
  margin-bottom: 25px;
  font-style: italic;
  font-weight: 600;
}
.single-team-wrap p{
  margin-bottom: 20px;
}
.progress-wrap{
  width: 80%;
  overflow: hidden;
}
.progress-wrap .progress {
    height: 20px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: none;
    overflow:visible;
}
.progress-wrap .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #3a75ff;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
    border-radius: 10px;
    position: relative;
}
.progress-wrap .progress-bar span{
  position: absolute;
  right: 0;
  top: -15px;
  font-size: 16px;
  font-weight: 600;
}
.progress-wrap p{
  margin-bottom: 10px;
  font-size: 16px;
}
a.appoinment-btn{
  padding: 10px 30px;
  text-transform: uppercase;
  background: #3a75ff;
  font-weight: 700;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
}
a.appoinment-btn:hover{
  background: #fff;
  color: #222;
}
.socil-icon{
  margin-top: 30px;
}
.socil-icon ul li{
  display: inline-block;
  margin-right: 3px;
}
.socil-icon ul li a{
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  text-align: center;
}
.socil-icon ul li a:hover{
  background: #fff;
}
/*-------------------------single-team-area end-------------------------*/

/*-------------------------sidebar-area start-------------------------*/
.widget{
  margin-bottom: 40px;
}
.search-wrap form{
  position: relative;
}
.search-wrap input{
  width: 100%;
  height: 40px;
  padding-right: 45px;
  border:none;
  border-bottom: 1px solid #fff;
  background: transparent;
}
.search-wrap button{
  position: absolute;
  right: 0px;
  background: transparent;
  border:none;
  color: #fff;
  height: 40px;
  top: 0px;
}
.search-wrap button:hover{
  color: #3a75ff;
}
.search-wrap input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color:#fff;
}
.search-wrap input::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color:#fff;
}
.search-wrap input:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color:#fff;
}
.search-wrap input:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color:#fff;
}
.widget .widget-title{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.sidebar-menu ul li{
  line-height: 30px;
}
.sidebar-menu ul li a{
  position: relative;
  padding-left: 20px;
}
.sidebar-menu ul li a:before{
  position: absolute;
  left: 0;
  top: 50%;
  content: "\f101";
  font-family: fontawesome;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sidebar-menu ul li a:hover:before{
  left: 5px;
}
.recent-post ul li{
  overflow: hidden;
  margin-bottom: 20px;
}
.recent-post ul li:last-child{
  margin-bottom: 0px;
}
.post-img{
  float: left;
  margin-right: 15px;
}
.post-content{
  overflow: hidden;
}
.post-content a{
  display: block;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}
.post-content p{
  font-size: 12px;
  font-style: italic;
}
.tag-wrap ul li{
  display: inline-block;
  margin-bottom: 5px;
}
.tag-wrap ul li a{
  display: block;
  padding: 6px 20px;
  border:1px solid #fff;
  font-weight: 500;
  border-radius: 3px;
}
.tag-wrap ul li a:hover{
  color: #fff;
  background: #3a75ff;
  border-color: #3a75ff;
}
.tag-wrap{
  margin-bottom: 0px;
}
.pagination-wrap{
  margin: 20px 0px 30px;
}
.pagination-wrap ul li{
  display: inline-block;
}
.pagination-wrap ul li a,.pagination-wrap ul li span{
  height: 35px;
  width: 35px;
  line-height: 35px;
  background: #fff;
  color: #222;
  font-weight: 600;
  font-size: 16px;
  display: block;
}
.pagination-wrap ul li span,.pagination-wrap ul li:hover a{
  background: #3a75ff;
  color: #fff;
}

/*------------ price-range start-----------*/
.price-range {
  overflow: hidden;
  padding: 10px 0px 30px;
}
.ui-slider-horizontal .ui-slider-handle {
  background: #ffffff none repeat scroll 0 0;
  border: 3px solid #3a75ff;
  border-radius: 50%;
  height: 15px;
  top: -4px;
  outline:none;
  width: 15px;
}
.ui-slider-horizontal .ui-slider-range {
  background: #3a75ff none repeat scroll 0 0;
}
.ui-slider-horizontal {
  background: #e9e9e9 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  height: 7px;
}
.value {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: normal;
  left: 50%;
  margin: 0 0 0 -20px;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 40px;
}
.price-range-both.value {
  margin: 0 0 0 500px;
  top: 26px;
  width: 100px;
}
/*------------ recent-product-area-----------*/
.recent-product-wrap ul li{
  overflow:hidden;
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #eee;
}
.recent-product-wrap ul li:last-child{
  border-bottom:none;
   margin-bottom:0px;
  padding-bottom:0px;
}
.recent-product-img {
  float: left;
  margin-right: 20px;
}
.recent-product-content {
  overflow: hidden;
}
.recent-product-content a {
  color: #3a75ff;
  font-size: 16px;
  display: block;
}
.recent-product-content a:hover{color:#3a75ff}
.recent-product-content span {
  display: block;
  margin-bottom: 5px;
}
.recent-product-content i{
  color:#f5bc00;
}
/*-------------------------sidebar-area end-------------------------*/
.blog-details-area{
  padding: 130px 0px;
}
.blog-details-area .blog-content h3{
  color: #fff;
  font-size: 18px;
  color: #fff;
  margin-bottom: 0px;
}
.blog-details-wrap p{
  margin-bottom: 25px;
}
.blog-details-wrap blockquote {
    background: #131619;
    padding: 30px 25px 30px 40px;
    font-size: 16px;
    font-style: italic;
    margin: 40px 0;
    border-left: 10px solid #3a75ff;
}
.socila-link{
  margin-bottom: 100px;
}
.socila-link ul li{
  display: inline-block;
  color: #3a75ff;
}
.socila-link ul li a{
  font-size: 16px;
  margin-left: 7px;
}
.blog-form h3{
  margin-bottom: 25px;
  font-weight: 700;
}
.blog-form span{
  display: block;
  margin-bottom: 3px;
}
.blog-form input,.blog-form textarea,.contact-form input,.contact-form textarea{
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
  border-radius: 3px;
  background: transparent;
  border:1px solid #fff;
  padding-left: 20px;
}
.blog-form textarea,.contact-form textarea{
  height: 200px;
  padding-top: 10px;
}
.blog-form button,.contact-form button{
  padding:10px 30px;
  background: #3a75ff;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  border:none;
}
.blog-form button:hover,.contact-form button:hover{
  background: #fff;
  color: #222;
}
/*-------------------------contact-area start-------------------------*/
.contact-area{
  padding-top: 130px;
}
.contact-form textarea{
  height: 270px;
}
.contact-wrap ul li{
  position: relative;
  padding:30px 20px 30px 100px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  background: #131619;
  margin-bottom: 25px;
  border-radius: 5px;
}
.contact-wrap ul li:last-child{
  margin-bottom: 0px;
}
.contact-wrap ul li i{
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 30px;
  font-size: 35px;
  color: #3a75ff;
}
.contact-wrap ul li p{
  font-size: 14px;
  margin-top: 8px;
  font-weight: 400;
  text-transform: capitalize;
}
.contact-wrap ul li p span{
  display: block;
}
#googleMap{
  margin-top: 100px;
  height: 550px;
  width: 100%;
}
/*-------------------------contact-area end-------------------------*/

/*-------------------------error-area start-------------------------*/
.error-area{
  padding: 130px 0px;
}
.error-wrap{
  text-align: center;
}
.error-wrap img{
  margin-bottom: 50px;
}
.error-wrap h3{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.error-wrap p{
  margin-bottom: 30px;
}
.error-wrap ul li{
  display: inline-block;
  margin:0px 3px;
}
.error-wrap ul li a{
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  display: block;
}
.error-wrap ul li a:hover{
  background: #3a75ff;
  color: #fff;
}
/*-------------------------error-area end-------------------------*/

/*-------------------------shop-area start-------------------------*/
.view-wrap{
  background:#131619;
  padding:15px 20px;
  margin-bottom:30px;
}
.shop-title {
  font-size: 18px;
  font-weight: 600;
  margin: 7px 0px;
  text-transform: uppercase;
}
.selector{float:right;}
.selector select {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 35px;
  padding: 0 10px;
  width: 215px;;
  background: transparent;
}
.selector select option{
  color: #222;
  font-size: 14px;
}
/*-------------------------shop-area end-------------------------*/

/*-------- checkout-area start ----------*/
.checkout-title{
  padding:20px 30px;
  background:#3a75ff;
  color:#fff;
  font-size:20px;
  font-weight:600;
  text-transform: uppercase;
  margin-bottom:0px;
}
.checkout-form{
  background:#131619;
  padding:30px 30px 30px;
}
.checkout-form p,.account-area .checkout-form span{
  color:#3a75ff;
  font-weight:600;
  margin-bottom:5px;
  font-size:14px;
}
.checkout-form p span,.account-area .checkout-form span.star{
  color:#3a75ff;
}
.checkout-form input, .checkout-form select {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #cdd5d9;
  border-radius: 5px;
  color: #6a6a6a;
  font-weight: 400;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  width: 100%;
}
.checkout-form input[type="checkbox"]{
  width:auto;
  margin:0px 5px 25px 0px;
  height:auto;
}
.checkout-form ul li{
  overflow:hidden;
  color:#3a75ff;
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px solid #e1e1e1;
  position:relative;
}
.checkout-form ul li.last{
  padding-bottom:0px;
  margin-bottom:0px;
  border-bottom:transparent;
}
.checkout-form ul li strong{
  float:right;
  font-family:raleway;
  font-size:16px;
  color:#3a75ff;
}
.checkout-form ul li span{
  position:absolute;
  left:50%;
  top:0;
  font-size:16px;
  color:#3a75ff;
}
.checkout-form ul li b{
  font-size:16px;
  color:#3a75ff;
  font-weight:800;
}
.checkout-form .panel-default > .panel-heading {
  background: transparent none repeat scroll 0 0;
  border-color: transparent;
  color: #3a75ff;
  padding: 10px 35px;
  border-bottom: 1px solid #ccc;
}
.checkout-form .panel-body {
  border-top: medium none;
  padding: 15px 35px;
}
.checkout-form .panel {
  background-color: #0d0f11;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 0px;
}
.checkout-form .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: medium none transparent;
}
.checkout-form .panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
  position: relative;
}
.checkout-form .panel-default a::before {
    background: rgba(0, 0, 0, 0) url(../images/image-1.png) no-repeat scroll center center / cover;
    border-radius: 5px;
    content: "";
    height: 25px;
    left: -30px;
    position: absolute;
    top: 8px;
    width: 25px;
    z-index: 9;
}
.checkout-form .panel-default a.collapsed::after{
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 50%;
  content: "";
  height: 25px;
  left: -30px;
  position: absolute;
  top: 8px;
  width: 25px;
  background-image:none;
  z-index:999;
}
.checkout-form a.order,.checkout-form button{
  display:block;
  width:100%;
  height:50px;
  line-height:50px;
  color:#fff;
  font-weight:700;
  background:#3a75ff;
  border-radius:5px;
  text-align:center;
  font-size:16px;
}
.checkout-form a.order:hover{background:#222}
/*-------- checkout-area end ----------*/

/*-------- cart-area start ----------*/
.shoping-cart-wrap thead{
  background:#3a75ff;
  color:#fff;
  height:50px;
}
.shoping-cart-wrap thead tr th{
  text-align:center;
  border-right:1px solid #fff;
  padding: 15px;
}
.shoping-cart-img{width:150px;}
.shoping-cart-name{width:285px;}
.shoping-cart-price{width:120px;}
.shoping-cart-quantity{width:150px;}
.shoping-cart-total{width:120px;}
.shoping-cart-remove{width:150px;}
.table-wrap{
  padding:20px 0px;
}
.table-wrap tr {
    border-bottom: 1px solid #e1e1e1;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.table-wrap tr td{
  text-align:center;
  font-size:16px;
  color:#3a75ff;
  font-weight: 600;
}

.shoping-cart-name a,.shoping-cart-remove a{
  color:#3a75ff;
  font-size: 16px;
  font-weight: 700;
}
.shoping-cart-name a:hover,.shoping-cart-remove a:hover{
  color:#fff;
}
.shoping-cart-quantity input{
  width:80px;
  height:50px;
  background:#f2f2f2;
  border-radius:5px;
  border:1px solid #f2f2f2;
  padding-left:10px;
  position:relative;
}
.shoping-cart-btn {
  float: right;
  margin-bottom: 30px;
  padding-right: 20px;
}
.shoping-cart-btn a{
  display:inline-block;
  padding:10px 40px;
  background:#3a75ff;
  color:#fff;
  font-weight:600;
  margin-left:5px;
  border-radius:5px;
}
.shoping-cart-btn a:hover{
  background: #fff;
  color: #222;
}
.cart-form-wrap {
  padding:30px 20px;
}
.cart-form-wrap input,.cart-form-wrap select{
  background:transparent;
  width: 100%;
  height: 45px;
  margin-bottom:10px;
  border:1px solid #cdd5d9;
  padding-left: 20px;
}
.cart-form-wrap select option{
  color: #222;
}
.cart-form-wrap button{
  width:100%;
  height:45px;
  border-radius:5px;
  border:transparent;
  background:#3a75ff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}
.cart-form-wrap button:hover{
  background:#fff;
  color: #222;
}
.cart-form-wrap ul li{
  padding-bottom:25px;
  margin-bottom:25px;
  color:#3a75ff;
  font-size:16px;
  overflow:hidden;
  border-bottom:1px solid #cdd5d9;
}
.cart-form-wrap ul li span{float:right}
.cart-form-wrap h3.widget-title{
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border:none;
}
/* -------- cart-area end ----------*/